.wrapper-modulos {
    background-color: white;
}

.wrapper-modulos h1 {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
}

.wrapper-modulos .bi-caret-down-fill {
    font-size: 40px;
    color: #4A4A4A;    
}

.modulo-card {
    border: 5px solid #28303D;
    border-radius: 20px;
    min-height: 322px;
    padding: 40px 20px;
}

.modulo-card h2 {
    font-size: 32px;
    font-weight: 800;
    color: #4A4A4A;
    font-family: "Poppins", Sans-serif;
    margin-bottom: 15px;
}

.modulo-card h3 {
    font-size: 24px;
    font-family: "Poppins", Sans-serif;
    color: #4A4A4A;
    font-weight: 800;    
    margin-bottom: 20px;
}

.modulo-card p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
    line-height: 1.5;    
}